body {
    width: 80vw;
    height: 100vh;
    font-family:  'Open Sans', 'Roboto','Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    margin: auto;
    background-color: rgb(73, 73, 73);
}


.logo{
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: left;
    margin-bottom: 60px;
}

.logo svg {
    width: 50px;
    vertical-align: middle; 
    fill: #fff; 
}

.iconButton svg {
    width: 25px;
    height: 25px;
    vertical-align: middle; 
    fill: #fff;   
    
}

.iconButton {
   font-size: x-large;
   padding: 3px;
   gap: 5px;
}

.nav {
    margin-bottom: 60px;
}

.header {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.555);
    z-index: 1;
}

.mainArea {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(196, 196, 196);
   
}

.cardArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    gap: 20px;
    padding: 20px;
    
}

.yourProjects {
    grid-column: 1 / 3;
}

.infoBar {
    display: grid;
}

.searchBar {
    margin-right: auto;
    }

.sideBar {
    background-color: #0284c7;
    grid-row: 1 / 3;
    color: white;
    padding: 20px;
}


.searchBar {
    display: flex;
}

.searchButton {
    width: 35px;
}

.searchBar input[type="text"] {    
    width: 40vw; /* Take up the entire available width */
    height: 20px;
    padding: 3px; /* Add padding for better visual appearance */
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    
}

.alerts {
    width: 30px;
    margin-right: 25px;
}

.topBar{
    margin-top: 10px;
}

.topBar, .bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;    
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.ovalButton {
    background-color: #0284c7;
    color: white;
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 20px; 
    margin-left: 20px;
    font-size: 16px;
}

.avatar, .avatarL {   
    width: 40px;
    border-radius: 50%;
    border-style: solid;
    border-color: #0284c7;
    background-color:#f97316 ;
    margin-right: 5px;
}

.avatarL{
    width: 60px;
    padding: 5px;    
    display: block;
    object-fit: cover;
}

.profilegraphic {
    padding: 5px;    
    display: block;
    object-fit: cover;
}

.user {
    margin-left: 20px;
    font-weight: bolder;
}

.greet {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.greeting {
    font-size: 20px;    
    margin-right: auto;
    margin-left: 0px;
}


.card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.555);
    border-left: 10px solid #f97316;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    display: grid;
    padding-bottom: 0px;
}

.announcmentPanel, .trendPanel{
    display: grid;
    margin-top: 20px;
    gap: 0px;
    height: fit-content;
    margin-right: 20px;
}

.rightPanelBg {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
}

.infoBar .announcmentPanel .rightPanelBg .aCard:nth-child(3) {
    box-shadow: 0 0 0 ;
}

.infoBar .trendPanel .rightPanelBg .tCard:nth-child(3) {
    box-shadow: 0 0 0 ;
}

.announcments {
    margin-bottom: 40px;
}

.aCard , .tCard { 
    padding: 10px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;    
    box-shadow: 0 1px 0 black;
}

.tCard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;  
}

.card svg {
    width: 35px;
}

.tCard svg {
    width: 35px;
}

.trender {
    margin-right: auto;   
}

.actionButtons {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

ul {
    list-style: none;
    padding: 0;    
}

li {
    margin-bottom: 10px;
    position: relative;
    line-height: 1.5;    
}



